<% boards.each do |board| %>
  <div class="list-group-item">
    <div class="row align-items-center">
      <div class="col-auto">
        <a href="#">
          <%= svg_icon 'brand-trello' %>
        </a>
      </div>
      <div class="col text-truncate">
        <%= link_to account_board_path(board), class: "text-reset d-block", data: { turbo_frame: '_top' } do %>
          <%= board.title %>
        <% end %>
      </div>
      <div class="col-auto lh-1">
        <div class="dropdown">
          <a
            href="#"
            class="link-secondary"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-controller="dropdown"
            data-action="dropdown#toggle"
          ><!-- Download SVG icon from http://tabler-icons.io/i/dots -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
          </a>
          <div class="dropdown-menu dropdown-menu-end" style="">
            <%= link_to edit_account_board_path(board), class: 'dropdown-item', data: { turbo_frame: 'modal' } do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                <circle cx="12" cy="12" r="3" />
              </svg>
              <%= t('.edit') %>
            <% end %>
            <%= link_to account_board_confirm_destroy_path(board), class: 'dropdown-item text-danger', data: { turbo_frame: 'modal' } do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon text-red dropdown-item-icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="4" y1="7" x2="20" y2="7" />
                <line x1="10" y1="11" x2="10" y2="17" />
                <line x1="14" y1="11" x2="14" y2="17" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
              <%= t('.delete') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
