<%= turbo_frame_tag 'modal' do %>
  <div class="modal modal-blur fade" tabindex="-1" role="dialog" aria-modal="true" style="display: block;" data-controller="modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <%= turbo_frame_tag 'modal-content', class: 'modal-content' do %>
        <%= simple_form_for @board, url: account_board_path(@board), method: :put do |form| %>
          <div class="modal-header">
            <h5 class="modal-title"><%= t('.title') %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= render 'form', form: form %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">
              <%= t('.close') %>
            </button>
            <%= form.submit class: "btn btn-primary" %>
          </div>
        <%- end %>
      <%- end %>
    </div>
  </div>
<% end %>
