<%= render(Tabler::Page::WrapperComponent.new) do %>
  <%= render(Tabler::Page::HeaderComponent.new(title: t('.title'))) do |c| %>
    <% c.with_actions do %>
      <%= link_to new_polymorphic_path([:account, Board]), class: "btn btn-primary", data: { turbo_frame: "modal" } do %>
        <%= svg_icon 'plus' %>
        <%= t('.new', model: Board.model_name.human) %>
      <%- end %>
    <% end %>
  <% end %>

  <%= render(Tabler::Page::BodyComponent.new) do %>
    <div class="row row-cards max-width-1000">
      <% if @boards.present? %>
        <div class="col-12">
          <div class="card">
            <div class="list-group list-group-flush list-group-hoverable">
              <% @boards.each do |board| %>
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <a href="#">
                        <%= svg_icon 'brand-trello' %>
                      </a>
                    </div>
                    <div class="col text-truncate">
                      <%= link_to account_board_path(board), class: "text-reset d-block" do %>
                        <%= board.title %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
