<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <%- if @back_path.present? %>
          <div class="mb-2">
            <%= link_to @back_path, class: 'btn btn-link-primary btn-sm' do %>
              <%= svg_icon 'arrow-left' %> Zurück
            <%- end %>
          </div>
        <%- end %>

        <%- if breadcrumb.present? %>
          <div class="mb-1">
            <%= breadcrumb %>
          </div>
        <%- end %>
        <% if @pretitle %>
          <!-- Page pre-title -->
          <div class="page-pretitle">
            <%= @pretitle %>
          </div>
        <% end %>
        <h2 class="page-title">
          <%= @title %>
        </h2>
      </div>
      <!-- Page title actions -->
      <div class="col-12 col-md-auto ms-auto d-print-none">
        <div class="btn-list">
          <%= actions %>
        </div>
      </div>
    </div>
  </div>
</div>
